<!-- Reset Password Modal -->
<div class="modal fade" id="resetPasswordModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/user/resetPassword" method="POST">
        <div class="modal-header">
          <h5 class="modal-title">Reset Password</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="email" value="<%= email %>" />
          <label>New Password:</label>
          <input type="password" name="password" class="form-control" required />
          <label>Confirm Password:</label>
          <input type="password" name="confirmPassword" class="form-control" required />
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-warning">Reset Password</button>
        </div>
        <% if (message) { %>
          <div class="text-center text-success mt-2"><%= message %></div>
        <% } %>
      </form>
    </div>
  </div>
</div>
